<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="d-block w-100">
        <app-header></app-header>
        <div class="p-3 mt-4 d-flex justify-content-center" *ngIf="reportShow">
            <div class="chart " *ngIf="isChartShow">
                <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
                    [plugins]="pieChartPlugins">
                </canvas>
            </div>

            <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
        </div>
        <div class="p-3" *ngIf="reportShow">
            <div style="display: block" *ngIf="isChartShow">
                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
                    [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
            <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
        </div>
    </div>


</div>